body {
  @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@354;400&display=swap');
  font-family: 'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00171F;
  color: white;
}
